<configuration>

	<!-- File appender -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>./gatling.log</file>
		<append>true</append>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
		</encoder>
	</appender>

	<!-- Root logger -->
	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>

</configuration>
